.container {
  color: #eeeeee;
  max-width: 420px;
  margin: auto;
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  border-bottom: 4px solid #3a3450;
  padding: 1rem 0;
}

.tasks {
  margin: 1rem 0;
}
