.container {
  border-radius: 0.5rem;
  background-color: #3a3450;
  padding: 1.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task {
  cursor: pointer;
  width: 100%;
}

.content {
  margin-left: 0.8rem;
}

.checkedtext {
  color: #aaaaaa;
  text-decoration: line-through;
}

.trashicon {
  color: salmon;
  cursor: pointer;
}
